section#results {
    border-top: 1px solid #f1c40f;
    font-family: 'Ranchers', cursive;
    text-align: center;
    padding: 0px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
    padding: 5px;
    padding-bottom: 15px;
  }
  
section#results h1 {
    margin-bottom: 0px;
    font-size: 30px;
    margin-top: 20px;
    color: #8e44ad;
}
  
section#results p {
    font-size: 20px;
    margin-top: 0px;
    color: #ecf0f1;
}

select.speed-type {
    margin-top: 15px;
    outline: none;
    width: 150px;
    height: 30px;
    border-radius: 5px;   
    background-color: #3498db;
    font-family: 'Ranchers', cursive;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    color: #ecf0f1;
    text-shadow: 1px 1px 1px black;
}

input#saveButton {
    width: 150px;
    margin-top: 10px;
    height: 35px;
    text-transform: uppercase;
    font-family: 'Ranchers', cursive;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #e67e22;
    color: #ecf0f1;
    text-shadow: 1px 1px 1px black;
    background-color: #27b462;
    transition: 0.5s;
    outline: none;
}

input#saveButton:hover { 
    background-color: #27ae60;
    border: 2px solid #d35400;
    cursor: pointer;
}

/* */

section#saved-registry {
    border-top: 1px solid #f1c40f;
    font-family: 'Ranchers', cursive;
    padding: 0px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
    padding: 5px;
    padding-bottom: 15px;
    text-align: center;
}

section#saved-registry table {
    width: 100%;
}

section#saved-registry tbody {
    display: inline-flexbox;
    padding: 5px;
    width: 100%;
}

section#saved-registry table caption {
    text-align: center;
    text-transform: uppercase;
    color: #2ecc71;
    font-weight: 1000;
    font-size: 30px;
    text-shadow: 1px 1px 1px black;
}
section#saved-registry th {
    color: #d35400;
    font-size: 20px;
    text-shadow: 1px 1px 1px black;
}
section#saved-registry td {
    color: white;
    text-shadow: 1px 1px 1px black;
}

input#deleteButton {
    width: 200px;
    margin-top: 10px;
    height: 35px;
    text-transform: uppercase;
    font-family: 'Ranchers', cursive;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #e67e22;
    color: #ecf0f1;
    text-shadow: 1px 1px 1px black;
    background-color: #c9200d;
    transition: 0.5s;
    outline: none;
}

input#deleteButton:hover { 
    background-color: #990f00;
    border: 2px solid #d35400;
    cursor: pointer;
}